<div class="header-block">
        <img class="header-bg" src="assets/imgs/header_bg.png">
        <div class="header-item">
            <img src="assets/icon/logo_blue.png">
            <div class="header-text">
                <p class="title">Mrs. Bot</p>
                <p>Tahara made easy</p>
            </div>
        </div>
</div>